.page-populares {
    .perfil{
        background-color: #488aff;
    }

    .perfil h2{
        color: #FFF;
    }

    .perfil p{
        color: #FFF;
    }

    ion-card-content p {
        padding-top: 7px; 
    } 
}
