page-alterar-foto {
    .foto{
        margin-top: 5px;
        max-width:90vw;
        width: auto;
        border-radius: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto; 
    }
}
