page-cadastro-treino {
    .container{
        padding-top: 20px; 
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
    .area{
        height: 20vh;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}
